.dialogItems {
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
}

.item a {
    color: gray;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.item a.active {
    color: firebrick;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}